{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div class="row align-items-center">
            <h2>
                Temperatura w mieście {{ cityName }} aktualnie wynosi {{ temperature }}
            </h2>

        </div>
    </div>
{% endblock %}
